.content1 {
	font-family: Arial;
	font-size: 15px;
	color: white;
}
.content2 {
	font-family: Arial;
	font-size: 15px;
	color: black;
}
.customIcon1 {
	font-size: 50px;
	text-align: center;
	color: white;
}
.customIcon2 {
	font-size: 50px;
	text-align: center;
	color: black;
}
.title1 {
	font-family: Atomic;
	font-size: 40px;
	color: white;
}
.title2 {
	font-family: Atomic;
	font-size: 40px;
	color: black;
}