html {min-height: 100%}
body {
	background-image: linear-gradient(180deg, black 0%, #1e0641 30%, #a161ff 100%); 
	background-repeat: no-repeat;
	margin: 0;
	min-width: 600px;
	background-attachment: fixed; 
}
p, a {font-family: Arial;}

@font-face {
	font-family: Atomic;
	src: url(aAtomicMd.ttf);
}
/*NOTE: classes are alphabetically arranged*/
.container {
	width: 90%;
	margin-top: 40px;
	margin-right: auto;
	margin-left: auto;
}
.loadingScreen {
	background-color: #1e0641;
	width: 100%;
	height: 100vh;
	position: absolute;
	top: 0;
	left: -100%;
}
.logoutButton a {
	border: 1px solid white;
	border-radius: 5px;
	padding: 8px;
	transition: 0.4s;
}
.logoutButton a:hover {
	background: white;
	color: black;
}
.navlink[aria-current="page"]{
	color: #a161ff;
	border-bottom: 1px solid  #a161ff;
}
.navbar {
	padding: 30px;
}
.navbar a {
	font-size: 13px;
	text-decoration: none;
	color: white;
	margin-right: 5px;
	margin-left: 10px;
	float: right;
	padding: 8px;
	vertical-align: middle;
}
.nav3 a {
	transition: 0.3s;
}
.nav3 a:hover {
	color: #a161ff;
}
.titleWeb a {
	font-family: Atomic;
	font-size: 25px;
	color: white;
	float: left;
}