@font-face {
	font-family: Atomic;
	src: url(aAtomicMd.ttf);
}
a:active {
	color: #750DFF;	
}
.customBG1 {
	background: black;
}
.customBG2 {
	background: white;
}
.customButton button {
	font-family: Arial;
	background: white;
	color: #750DFF;
	font-weight: bold;
}
.customButton button:hover {
	background: #750DFF;
	color: white;	
	font-weight: bold;
}
.imageSize {
	width: 180px;
}
.contactbutton button {
	color: white;
	font-family: Arial;
	font-size: 15px;
	background: black;
}
.contactbutton button:hover {
	background: #750DFF;
	color: white;
}
.nav-link[aria-current="page"]{
	color: #750DFF;
}
.nav-item {
	padding: 5px;
}
.navText a {
	color: black;
	font-family: Arial;
	font-size: 0.9rem;
}
.navText a:hover {
	color: #750DFF;
}
.pageContent p {
	font-family: Arial;
	font-size: 15px;
}
.pageTitle p {
	font-family: Atomic;
	font-size: 70px;
	color: black;
}
.textColored {
	color: #750DFF;
}	
.togglerBorder {
	border-bottom: 3px solid #750DFF;
	width: 30px;
	margin: 4px;
}