/*
	This CSS file contains the custom styles for:
	-> Navigation Bars
	-> Font-family

	Palette:
		#eeeeee
		#dddddd
		#4f0007
		#270000
		#000000

		#7f000b
		#8f000c
	src: https://www.color-hex.com/color-palette/6516
*/
@font-face {
	font-family: Atomic;
	src: url(aAtomicMd.ttf);
}

.bgColorBody {
	background: #eeeeee;
}
.bgColorNavbar {
	background: #270000;
}
.imageSize {
	width: 200px;
}
.navText a {
	color: white;
	font-family: Arial;
	font-size: 0.8rem;
}
.navText a:hover {
	color: #a4000f;
}	
.navbar-toggler i {
 	color: white;
  	border-color: white;
}
.webTitle {
	font-family: Atomic;
	font-size: 3vh;
	color: white;
}
