/*
	Palette:
		#eeeeee		#7f000b
		#dddddd		#8f000c
		#4f0007
		#270000
		#000000
	src: https://www.color-hex.com/color-palette/6516
*/
@font-face {
	font-family: Atomic;
	src: url(aAtomicMd.ttf);
}
.bgColorNavbar {
	background: #270000;
}
.imageSize {
	width: 200px;
}
.nav-link[aria-current="page"]{
	color: #a4000f;
}
.navText a {
	color: white;
	font-family: Arial;
	font-size: 0.8rem;
}
.navText a:hover {
	color: #a4000f;
}	
.navbar-toggler i {
 	color: white;
  	border-color: white;
}
.webTitle {
	font-family: Atomic;
	font-size: 3vh;
	color: white;
}
