@font-face {
	font-family: Atomic;
	src: url(aAtomicMd.ttf);
}
.imageSize {
	width: 180px;
}
.logOutbutton button {
	color: white;
	font-family: Arial;
	font-size: 15px;
	background: black;
}
.logOutbutton button:hover {
	background: #750DFF;
	color: white;
}
.nav-link[aria-current="page"]{
	color: #750DFF;
}
.nav-item {
	padding: 5px;
}
.navText a {
	color: black;
	font-family: Arial;
	font-size: 0.9rem;
}
.navText a:hover {
	color: #750DFF;
}	
.togglerBorder {
	border-bottom: 3px solid #750DFF;
	width: 30px;
	margin: 4px;
}

/*37007f*/