.cardScroll {
	min-width: 300px;
	border-radius: 0.3rem;
	overflow: hidden;
	margin-left: 5px;
	margin-right: 5px;
}
.cardScroll2 {
	min-width: 200px;
	border-radius: 0.3rem;
	overflow: hidden;
	margin-left: 5px;
	margin-right: 5px;
}
.content1 {
	font-family: Arial;
	font-size: 15px;
	color: white;
}
.content2 {
	font-family: Arial;
	font-size: 15px;
	color: black;
}
.subtitle1 {
	font-size: 17px;
	font-family: Arial;
	color: white;
	font-weight: bold;
	text-align: center;
}
.subtitle1Box {
	background: #750DFF;
	width: 150px;
}
.subtitle2 {
	font-size: 17px;
	font-family: Arial;
	color: white;
	font-weight: bold;
	text-align: center;
}
.title1 {
	font-family: Atomic;
	font-size: 40px;
	color: white;
}
.title2 {
	font-family: Atomic;
	font-size: 40px;
	color: black;
}