
/*NOTE: classes are alphabetically arranged*/
.container1 {
	color: white;
	margin: 10px;
	display: flex;
	align-items: flex-start;
	margin-bottom: 10px;
	justify-content: center;
}
.imgBox {
	border: 1px solid white;
	border-radius: 10px;
	background: white;
	height: 300px;
	width: 300px;
} 
.picContainer1 { 
	padding: 10px;
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	justify-content: center;
	gap: 13px;
}
.textContainer1 {
	text-align: center;
	padding: 20px;
	color: white;
}
.textContainer1 p {
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 16px;
}
.titleContainer1 p {
	font-family: Atomic;
	font-size: 60px;
	margin-bottom: 5px;
}